1.Write a program to create a sequence of numbers from 20 to 50
  and find the mean of numbers ,from 20 to 60 and sum of numbers from 51 to 91.
  
2. Write a program to extract first 10 english letter in lower case and last 10 letters in upper case and extract letters between 22nd to 24th letters in upper case

Note: Use built-in datasets letters and LETTERS.

3.Write a program to create three vectors a,b,c with 3 integers. Combine the three vectors to become a 3Ã—3 matrix where each column represents a vector. Print the content of the matrix

4.Write a program to find the maximum and the minimum value of a given vector
x = c(10, 20, 30, 20, 20, 25, 9, 26)

In [ ]:
Getting userinput:

In [2]:
start<-as.integer(readline(prompt="Enter the start sequence"))
end<-as.integer(readline(prompt="Enter the end sequence"))

Enter the start sequence20
Enter the end sequence50

In [4]:
typeof(start)

[1] "integer"

In [7]:
sum(start:end)

[1] 1085

In [4]:
start:(end+10)

 [1] 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44
[26] 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [2]:
mean(20:60)

[1] 40

In [1]:
sum(51:91)

[1] 2911

1.Write a program to create a sequence of numbers from 20 to 50
  and find the mean of numbers ,from 20 to 60 and sum of numbers from 51 to 91.

In [1]:
seq(20,50)#20:50

 [1] 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44
[26] 45 46 47 48 49 50

In [2]:
mean(seq(20,60))#mean(20:60)

[1] 40

In [1]:
sum(seq(51,91))#sum(51:91)

[1] 2911

2. Write a program to extract first 10 english letter in lower case and last 10 letters in upper case and extract letters between 22nd to 24th letters in upper case

Note: Use built-in datasets letters and LETTERS.

In [5]:
head(letters,n=10)

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

In [1]:
tail(LETTERS,n=10)

 [1] "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z"

In [2]:
letters[1:10]

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

In [3]:
LETTERS[17:26]

 [1] "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z"

In [5]:
letters[22:24]

[1] "v" "w" "x"

Write a program to find the maximum and the minimum value of a given vector
x = c(10, 20, 30, 20, 20, 25, 9, 26)

In [2]:
x = c(10, 20, 30, 20, 20, 25, 9, 26)

In [3]:
min(x)

[1] 9

In [4]:
max(x)

[1] 30

Write a program to create three vectors a,b,c with 3 integers. Combine the three vectors to become a 3Ã—3 matrix where each column represents a vector. Print the content of the matrix

In [2]:
a<-c(1L,3L,5L)
b<-c(2L,4L,6L)
c<-c(5L,10L,15L)

In [3]:
matrix(c(a,b,c),nrow=3)

     [,1] [,2] [,3]
[1,] 1    2     5
[2,] 3    4    10
[3,] 5    6    15

In [ ]:
Write a R program to compute sum, mean and product of a given vector elements.

In [2]:
x = c(10, 20, 30, 20, 20, 25, 9, 26)

In [3]:
sum(x)

[1] 160

In [3]:
mean(x)

[1] 20

In [4]:
prod(x)

[1] 1.404e+10

In [ ]:
Write a program to create a vector which contains 10 random integer values between -50 and +50.

In [8]:
sample(-50:50,10)

 [1]  20  24  37 -10  16  -7  28  -1  -5  11

In [ ]:
# create a list which prints like this: 
# [[1]]
# [1]  1  3  5  7  9 11
#
# [[2]]
# [[2]][[1]]
# [1] "Happy Birthday"
#
# [[2]][[2]]
# [1] "Archery" 

# extract the numbers as a vector

# extract the phrase Happy Birthday as a vector

# extract the second item of the second list as a list

# extract the second list as a list

# extract the numbers item as a list

# add 2 to each element in the numbers item

# name the items in the list as "Numbers" and "Phrases"

# you can use the $ to extract named items of a list
# if you extract the numbers item from newList with the $, what other extraction method is this equivalent to?

# use the dollar sign to repeat the addition from above (add 2 to each element in the numbers list)

# add a new item called "Brands" to the list. It should contain the brands Kellogs, Nike, iPhone
# use either brackets or the dollar sign to do that

# remove the iPhone from the Brands item

# remove the Brands item from the list

1.Write a R program to create an array with three columns, three rows, and two "tables", taking two vectors as input to the array. Print the array.

2.Write a R program to create a 5 Ã— 4 matrix , 3 Ã— 3 matrix with labels and fill the matrix by rows and 2 Ã— 2 matrix with labels and fill the matrix by columns

3.Imagine that you are working for the Ghostbusters, and for safety reasons you are recording the height and weight for everyone or everything the team encounters. So far you have collected information about the following. entities: Dr Peter Venkman, Dr Raymond Stantz, Dr. Eagon Spengler, Dana Barrett, Vigo, Slimer, and the Marshmallow Man.
# Create the following two vectors:
# A vector called weight, storing the values: 71, 67, 83, 67
# A vector called height, storing the values: 1.75, 1.81, 1.78, 1.82, 1.97, 2.12, 2.75
# You need to calculate the BMI for all you have data for. BMI is calculated by dividing the weight in kg by the height in meters squared.
# Carry out the operation and save the result in a variable called bmi.  
# What is your output?
# Try printing your bmi variable.
# Can you explain how you got the last three values, given that your weight variable only had 4 elements?

Date:07.07.2022

1.Write a script that will print "Even Number" if the variable x is an even number, otherwise print "Not Even":

2.Write a script that will print 'Is a Matrix' if the variable x is a matrix, otherwise print "Not a Matrix". Hint: You may want to check out help(is.matrix)

3.3.Write a script that uses if,else if, and else statements to print the max element in a numeric vector with 3 elements.